/**
 * Form
 */

.forecast_search-form {
  margin-bottom: 50px;
}

.forecast__query-input {
  width: 35%;
  padding: 9px 12px;
  font-size: 14px;
  background-color: $color-main;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid transparent;
  color: $color-sidebar-bg;
}

.forecast__query-input::placeholder {
  color: $color-copy;
}

.forecast__query-input:focus {
  background-color: $color-extra;
}

.forecast__btn-submit {
  font-size: 14px;
  padding: 9px 12px;
  background-color: $color-main;
  border: 1px solid transparent;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: $color-extra;

  &:hover,
  &:focus {
    background-color: $color-hover-common;
    color: $color-common;
  }

  &:disabled,
  &:disabled:hover {
    cursor: default;
    color: $color-copy;
    background-color: $color-main;
  }
}

/**
 * List
 */

.forecast {
  margin-bottom: 45px;
}

.forecast__header {
  display: flex;
  margin-bottom: 30px;
}

.forecast__title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 24px;
  color: $color-common;
}

.forecast__btns {
  margin-left: auto;
}

.forecast__btn-map,
.forecast__btn-delete {
  background-color: transparent;
  color: $color-list;
  padding: 5px 10px;
  border-top: 1px solid $color-main;
}

.forecast__btn-map:hover,
.forecast__btn-map:focus {
  background-color: $color-hover-common;
  color: $color-common;
}

.forecast__btn-delete:hover,
.forecast__btn-delete:focus {
  background-color: tomato;
  color: $color-common;
}

.forecast__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast__temperature-chart {
  width: 32%;
}

.forecast__pressure-chart {
  width: 32%;
}

.forecast__humidity-chart {
  width: 32%;
}

.forecast__legend {
  margin: 0;
  padding: 0;
  font-size: small;
  text-align: center;
  color: $color-extra;
}

/**
 * Error
 */

.forecast-error {
  margin-bottom: 50px;
}

.forecast-error__header {
  display: flex;
  margin-bottom: 30px;
}

.forecast-error__title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 24px;
  color: $color-common;
}

.forecast-error__btns {
  margin-left: auto;
}

.forecast-error__btn-close {
  background-color: transparent;
  color: $color-base;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 4px;
}

.forecast-error__btn-close:hover,
.forecast-error__btn-close:focus {
  background-color: $color-base;
  color: $color-common;
}

.forecast-error__body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-list;
  min-height: 60px;
}

.forecast-error__spinner img {
  width: 50px;
}

/**
 * Map
 */

.mount-map-spinner,
.mount-map-error {
  text-align: center;
  color: $color-grey;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 20%;
}
