/* sidebar */

.sidebar--home {
  display: flex;
  flex-direction: column;
}

/* foreign */

.foreign {
  font-size: small;
  color: $color-grey;
  margin: auto 20px 20px 20px;
}

.foreign__title {
  color: $color-base;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid $color-base;
  margin-bottom: 25px;
}

.foreign__list li {
  margin-bottom: 3px;
}

/* information section */

.info-section {
  margin-bottom: 5px;
  color: $color-sidebar-bg;
  font-size: 0.9rem;
  max-width: 900px;
}

.info-section__title {
  margin: 0 0 18px 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  color: white;
}

.info-section__header {
  border-left: 1px solid $color-copy;
  border-bottom: 1px solid $color-copy;
  border-top: 1px solid $color-copy;
  text-align: right;
  padding: 40px 0 40px 5px;
}

.info-section__body {
  margin: 0;
  padding: 0;
}

.info-articles {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border-right: 1px solid $color-copy;
  padding-top: 10px;
}

.info-article {
  box-sizing: border-box;
  padding: 30px 35px 30px 0;
  width: 50%;
}

.info-article__title {
  margin: 0 0 18px 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  color: white;
}

.info-article__body {
  margin: 0;
  padding: 0;
}
