// information

.info-section {
  margin-bottom: 5px;
  color: $color-base-ext;
  font-size: 15px;
  max-width: 900px;
}

.info-section__title {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  color: white;
}

.info-section__header {
  border-left: 1px solid $color-hue-1;
  border-bottom: 1px solid $color-hue-1;
  border-top: 1px solid $color-hue-1;
  text-align: right;
  padding: 25px 0 25px 5px;
}

.info-section__body {
  margin: 0;
  padding: 0;
}

.info-articles {
  border-right: 1px solid $color-hue-1;
  padding: 50px 0 5px 0;
}

.info-article {
  box-sizing: border-box;
  margin: 0 35px 35px 0;
  display: flex;
}

.info-article__title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
  color: $color-extra;
  min-width: 100px;
}

.info-article__body {
  margin: 0;
  padding: 0;
  font-size: 15px;
}
