.LoadingBar-bar-main {
  text-align: center;
  color: $color-util;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 20%;
}

.LoadingBar-bar-sidebar {
  text-align: center;
  margin-top: 20%;
}
