.weather-item {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 15px;
}

.city-name {
  width: 20%;
}

.temperature-list {
  width: 25%;
}

.pressure-list {
  width: 25%;
}

.humidity-list {
  width: 25%;
}

.weather-btn {
  width: 5%;
  text-align: center;
}
