// User list

.board-users {
  margin: 20px;
}

.user-list__title {
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
  font-weight: normal;
  color: $color-base;
  border-bottom: 1px solid $color-base;
}

.user-list__item {
  color: $color-minor-ext;
  margin-bottom: 4px;
}

// Tab buttons

.board__tabs {
  border-bottom: 1px solid $color-hue-2;
  padding: 0 15px;
  margin-bottom: 35px;
}

.board__btn-tab,
.board__btn-tab--active {
  padding: 15px 20px;
  background-color: transparent;
  color: $color-common;
  font-size: 14px;

  &:first-child {
    border-top-left-radius: 8px;
  }

  &:last-child {
    border-top-right-radius: 8px;
  }
}

.board__btn-tab--active {
  border-top: 1px solid $color-hue-2;
  border-right: 1px solid $color-hue-2;
  border-left: 1px solid $color-hue-2;
  background-color: $color-hue-0;
  position: relative;
  bottom: -1px;
  color: $color-hue-3;
  cursor: default;
}

.board__btn-tab {
  &:hover,
  &:focus {
    background-color: $color-hover-0;
  }
}

// Todo list

.todo-list {
  display: flex;
  flex-wrap: wrap;
}

.todo {
  width: 48%;
  margin-right: 2%;
  margin-bottom: 2%;
  position: relative;
  background-color: $color-hue-2;

  &::before {
    content: '';
    position: absolute;
    right: 6px;
    bottom: 6px;
    width: 30px;
    height: 30px;
    background-color: $color-hue-2;
    transform: rotate(45deg);
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: $color-hue-0;
    z-index: 1;
  }
}

.todo__title {
  padding: 10px 50px 10px 20px;
}

.completed {
  text-decoration: line-through;
  color: $color-base;
}

// Spinner

.board-spinner-main {
  text-align: center;
  color: $color-util;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 20%;
}

.board-spinner-sidebar {
  text-align: center;
  margin-top: 20%;
}

// Error

.board-error-main {
  text-align: center;
  color: $color-base;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 20%;
}

.board-error-sidebar {
  text-align: center;
  margin-top: 20%;
}
