.podcast-list {
  width: 80%;
}

.podcast-list__item {
  display: flex;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid $color-main;
}

.podcast-list__item:last-child {
  border: none;
}

.podcast-list__content {
  margin-right: 15px;
}

.podcast-list__btns {
  margin-left: auto;
}

.podcast-list__title {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  font-weight: normal;
}

.podcast-list__duration {
  margin: 0;
  padding: 0;
  width: 80px;
  margin-right: 10px;
  font-size: 85%;
  float: left;
  text-align: center;
}

.podcast-list__author {
  margin: 0;
  padding: 0;
  font-size: 85%;
  font-style: italic;
  float: left;
}

.podcast-list__btn {
  width: 100px;
}

.btn-select {
  padding: 16px 0;
  border-radius: 4px;
  color: $color-common;
  background-color: $color-main;

  &:hover,
  &:focus {
    background-color: $color-hover-common;
  }
}

.btn-select_active {
  cursor: default;
  padding: 16px 0;
  border-radius: 4px;
  color: $color-common;
  background-color: $color-base;
}
