$color-base: #000000;
$color-base-ext: #292929;
$color-hue-0: #826550;
$color-hue-1: #5f493a;
$color-hue-2: #967a65;
$color-hue-3: #b89881;
$color-hover-0: #9acd32;
$color-hover-1: #ffa500;
$color-detail: #d3d3d3;
$color-aux: #4169e1;
$color-util: #f3e7c9;
$color-extra: #f7f4f1;
$color-common: #ffffff;
$color-minor: #808080;
$color-minor-ext: #696969;
