.side-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;

  width: 27%;
  overflow: hidden;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.content-container {
  position: relative;
  z-index: 1;

  margin-left: 27%;
  padding: 20px 40px 30px 40px;

  min-height: 100vh;
  box-sizing: border-box;

  color: $color-extra;
  background-color: $color-hue-0;
}
