body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 19px;
  background-color: $color-base;
  color: $color-extra;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: normal;
}

button,
input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-size: 13px;
}

button::-moz-focus-inner {
  border: 0;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
}

a {
  color: $color-common;
  outline: none;
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
}

.l {
  float: left;
}

.r {
  float: right;
}

.blank {
  height: 2000px;
}
