body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: $color-common-bg;
  color: $color-extra;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: normal;
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  color: $color-common;
}

h2 {
  color: $color-main;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 300%;
}
h2::first-letter {
  text-transform: uppercase;
}
