.covers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.covers-item {
  width: 250px;
  position: relative;
  overflow: hidden;
  margin: 0 1% 3% 1%;
  -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

.covers-item_img {
  display: block;
  width: 100%;
  height: auto;
}

.covers-item_btn-about,
.covers-item_btn-about_active {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
  opacity: 0;
}

.covers-item_btn-about:hover,
.covers-item_btn-about:focus,
.covers-item_btn-about_active {
  background-color: $color-base;
  opacity: 0.6;
  outline: none;
}

.covers-item_btn-about span {
  padding: 15px 20px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  color: $color-common;
  border: 1px solid $color-common;
  background-color: transparent;
}

.covers-item_btn-about span:hover {
  background-color: $color-common;
  color: $color-base;
}

.covers-item_btn-about_active span {
  padding: 15px 20px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: default;
  color: $color-common-bg;
  border: 1px solid $color-common-bg;
}

.covers-item_btn-about::-moz-focus-inner,
.covers-item_btn-about_active::-moz-focus-inner {
  border: 0;
}
