.details {
  padding: 10px;
  color: $color-detail;
  background-color: $color-base;
  border-radius: 6px;
  font-size: 90%;
}

.details__title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin-bottom: 25px;
  height: 70px;
}

.details__item {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 3px;
  border-bottom: 1px dotted $color-minor;
  margin-bottom: 12px;
}

.details__item:hover {
  border-color: $color-hover-extra;
}

.details__btns {
  margin: 25px 0 0 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.details__btn_main {
  margin: 0;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: $color-detail;
  cursor: pointer;
  font-size: 13px;
  float: left;
  background-color: $color-detail-btn-main;
}

.details__btn_main:hover {
  background-color: $color-hover-common;
  color: $color-extra;
}

.details__btn_link {
  display: block;
  text-decoration: none;
  padding: 10px 0px;
  color: $color-minor;
  cursor: pointer;
  float: right;
}

.details__btn_link:hover {
  text-decoration: underline;
}
