.search-form_input {
  margin: 0;
  padding: 0;
  border: none;
  width: 35%;
  padding: 9px 12px;
  margin-bottom: 35px;
  font-size: 14px;
  background-color: $color-main;
  border-radius: 3px;
  border: 1px solid transparent;
  color: $color-sidebar-bg;
}

.search-form_input::placeholder {
  color: $color-copy;
}

.search-form_input:focus {
  outline: none;
  background-color: $color-extra;
}
