body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: $color-base;
  color: $color-extra;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: normal;
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  color: $color-common;
}

h2 {
  color: $color-main;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 300%;
}

h2::first-letter {
  text-transform: uppercase;
}

.l {
  float: left;
}

.r {
  float: right;
}

.blank {
  height: 2000px;
}

/* control btns */

.control_btns {
  width: 100%;
  margin-bottom: 35px;
}

.btn-common,
.btn-color,
.btn-common_active,
.btn-color_active {
  border: none;
  margin: 0;
  padding: 20px 0px;
  width: 50%;
  min-width: 100px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  outline: none;
}

.btn-common {
  color: $color-extra;
  background-color: $color-base;

  &:hover,
  &:focus {
    color: $color-extra;
    background-color: $color-hover-common;
  }
}

.btn-common_active {
  color: $color-extra;
  background-color: $color-minor;
  cursor: default;
}

.btn-color {
  color: $color-extra;
  border: 1px solid transparent;

  &:hover,
  &:focus {
    border-color: $color-extra;
  }
}

.btn-color_active {
  border: 1px solid $color-extra;
  color: $color-extra;
  cursor: default;
}

.btn-common::-moz-focus-inner,
.btn-common_active::-moz-focus-inner,
.btn-color::-moz-focus-inner,
.btn-color_active::-moz-focus-inner {
  border: 0;
}
