.infoblock {
  margin: 20px;
  padding: 10px;

  color: $color-detail;
  background-color: $color-base;
  border-radius: 6px;

  font-size: 14px;
  line-height: 1;
}

.infoblock__title {
  margin: 0;
  padding: 0;

  margin-bottom: 25px;
  height: 70px;

  font-weight: normal;
}

.infoblock__item {
  width: 100%;

  margin: 0 0 12px 0;
  padding: 0 0 3px 0;

  overflow: hidden;
  border-bottom: 1px dotted $color-minor;

  &:hover {
    border-color: $color-hover-1;
  }

  & .l::first-letter {
    text-transform: uppercase;
  }
}

.infoblock__btns {
  margin: 25px 0 0 0;
  padding: 0;

  width: 100%;
  overflow: hidden;
}

.infoblock__btn-main {
  padding: 10px 20px;
  border-radius: 4px;

  background-color: $color-aux;
  color: $color-detail;

  float: left;

  &:hover,
  &:focus {
    background-color: $color-hover-0;
    color: $color-extra;
  }
}

.infoblock__btn-link {
  display: block;
  padding: 10px 0px;

  text-decoration: none;
  color: $color-minor;

  cursor: pointer;
  float: right;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $color-hover-0;
  }
}
