.btnscolorblock {
  margin: 20px 20px 35px 20px;
}

.btnscolorblock__item-common {
  width: 50%;
  min-width: 100px;

  padding: 20px 0px;
  text-transform: uppercase;

  color: $color-extra;
  border: 1px solid transparent;

  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $color-extra;
  }
}

.btnscolorblock__item-active {
  width: 50%;
  min-width: 100px;

  padding: 20px 0px;
  text-transform: uppercase;

  color: $color-extra;
  border: 1px solid $color-extra;

  cursor: default;
}
