.sourcesblock {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  margin: 20px;

  color: $color-minor-ext;

  font-size: 12px;
  line-height: 1;
}

.sourcesblock__title {
  margin: 0 0 25px 0;
  padding: 0 0 5px 0;

  color: $color-base;
  text-transform: uppercase;

  font-size: inherit;
  letter-spacing: 0.3rem;
  font-weight: normal;

  border-bottom: 1px solid $color-base;
}

.sourcesblock__item {
  margin-bottom: 4px;
}
