$color-base: #000000;
$color-sidebar-bg: #292929;
$color-copy: #5f493a;
$color-common-bg: #826550;
$color-main: #967a65;
$color-minor: #808080;
$color-detail: #d3d3d3;
$color-util: #f3e7c9;
$color-extra: #f7f4f1;
$color-common: #ffffff;
$color-hover-common: #9acd32;
$color-hover-extra: #ffa500;
$color-detail-btn-main: #4169e1;
