body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #826550;
  color: #f7f4f1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-weight: normal;
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  color: white;
}

.blank {
  height: 2000px;
}

h2 {
  color: #967a65;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-size: 300%;
}
h2::first-letter {
  text-transform: uppercase;
}

/* * main blocks * */

.main-nav__item {
  text-decoration: none;
  color: grey;
  display: block;
  padding: 18px 12px;
}

.main-nav__item:hover {
  background-color: #9acd32;
  color: #f7f4f1;
}

.main-nav__item_active,
.main-nav__item_active:hover {
  background-color: #292929;
  color: #f7f4f1;
  cursor: default;
}

/* base */

.app-wrap {
  display: flex;
}

.header {
  min-height: 100vh;
  background-color: black;
}

.main {
  width: 100%;
  display: flex;
}

.sidebar {
  width: 30%;
  min-height: 100vh;
  background-color: #292929;
  position: relative;
}

.sidebar::before {
  content: '';
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  width: 5px;
  z-index: 2;
  background-color: #292929;
}

.sidebar::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.sidebar-wrap {
  margin: 20px;
}

.content {
  width: 100%;
}

.content-wrap {
  margin: 20px 40px;
}

/* * util * */

.loading-bar-main {
  text-align: center;
  color: #f3e7c9;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 20%;
}

.loading-bar-sidebar {
  text-align: center;
  margin-top: 20%;
}

.remote-error {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 20%;
}

.l {
  float: left;
}

.r {
  float: right;
}

/* * podcasts component * */

.podcast-list {
  width: 80%;
}

.podcast-list__item {
  display: flex;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #967a65;
}

.podcast-list__item:last-child {
  border: none;
}

.podcast-list__content {
  margin-right: 15px;
}

.podcast-list__btns {
  margin-left: auto;
}

.podcast-list__title {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  font-weight: normal;
}

.podcast-list__duration {
  margin: 0;
  padding: 0;
  width: 80px;
  margin-right: 10px;
  font-size: 85%;
  float: left;
  text-align: center;
}

.podcast-list__author {
  margin: 0;
  padding: 0;
  font-size: 85%;
  font-style: italic;
  float: left;
}

.podcast-list__select-btn {
  margin: 0;
  padding: 0;
  border: none;
}

.podcast-list__select-btn {
  padding: 16px 24px;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.podcast-list__select-btn:hover {
  background-color: #9acd32;
}

.podcasts-sidebar {
  padding: 10px;
  color: lightgrey;
  background-color: black;
  border-radius: 4px;
  font-size: 90%;
}

.podcasts-sidebar__title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin-bottom: 25px;
  height: 70px;
}

.podcasts-duration,
.podcasts-author {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 3px;
  border-bottom: 1px dotted grey;
  margin-bottom: 10px;
}

.podcasts-btns {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  width: 100%;
  overflow: hidden;
}

.podcasts-btn__play {
  margin: 0;
  padding: 0;
  border: none;
  padding: 10px 20px;
  float: left;
  background-color: royalblue;
  border-radius: 4px;
  color: lightgrey;
  cursor: pointer;
}

.podcasts-btn__play:hover {
  background-color: #9acd32;
  color: #f7f4f1;
}

.podcasts-btn__download {
  display: block;
  text-decoration: none;
  padding: 10px 0px;
  float: right;
  color: grey;
  cursor: pointer;
}

.podcasts-btn__download:hover {
  text-decoration: underline;
}

/* * info * */

.info-tech {
  position: fixed;
  bottom: 0;
  left: 110px;
  font-size: small;
  color: #696969;
  margin-bottom: 50px;
}

.info-tech a {
  color: inherit;
  text-decoration: none;
}

.info-tech a:hover {
  text-decoration: underline;
}

.info-tech__title {
  color: black;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 25px;
}

.info-tech__item {
  margin-bottom: 3px;
}

/* * footer * */

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.copyright {
  margin: 0;
  padding: 5px 20px;
  font-size: 70%;
  text-align: right;
  color: #5f493a;
}

.copyright a {
  color: inherit;
  text-decoration: none;
}

.copyright a:hover {
  text-decoration: underline;
}

/* * card for details * */

.detail {
  padding: 10px;
  color: lightgrey;
  background-color: black;
  border-radius: 6px;
  font-size: 90%;
}

.detail__title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin-bottom: 25px;
  height: 70px;
}

.detail__item {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 3px;
  border-bottom: 1px dotted grey;
  margin-bottom: 12px;
}

.detail__item:hover {
  border-color: orange;
}

.detail__btns {
  margin: 25px 0 0 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.detail__btn_main {
  margin: 0;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: lightgrey;
  cursor: pointer;
  float: left;
  background-color: royalblue;
}

.detail__btn_main:hover {
  background-color: #9acd32;
  color: #f7f4f1;
}

.detail__btn_link {
  display: block;
  text-decoration: none;
  padding: 10px 0px;
  color: grey;
  cursor: pointer;
  float: right;
}

.detail__btn_link:hover {
  text-decoration: underline;
}

/* * post list * */

.post-list {
  display: flex;
  flex-wrap: wrap;
}

.post {
  width: 48%;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  background-color: #967a65;
}

.post__title {
  margin: 5px;
  padding: 10px;
  font-weight: normal;
}

.post__body {
  margin: 5px;
  padding: 10px;
  border-radius: 6px;
  flex-grow: 2;
  background-color: #826550;
}

.post__title::first-letter,
.post__body::first-letter {
  text-transform: uppercase;
}

.post__info {
  margin: 5px;
  padding: 10px;
}

.post__author {
  color: white;
  font-size: small;
}

.post__author_btn {
  margin: 0;
  padding: 2px 1px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: inherit;
  background-color: #967a65;
  border-bottom: 1px dashed transparent;
}

.post__author_btn:hover,
.post__author_btn:focus,
.post__author_btn_active {
  color: orange;
  border-bottom: 1px dashed orange;
  outline: none;
}

.post__author_btn::-moz-focus-inner {
  border: 0;
}

/* * todos * */

.todos-list {
  display: flex;
  flex-wrap: wrap;
}

.todo {
  width: 48%;
  margin-right: 2%;
  margin-bottom: 2%;
  position: relative;
  background-color: #967a65;
}

.todo::before {
  content: '';
  position: absolute;
  right: 7px;
  bottom: 7px;
  width: 36px;
  height: 36px;
  background-color: #967a65;
  transform: rotate(45deg);
  z-index: 2;
}

.todo::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 26px;
  height: 26px;
  background-color: #826550;
  z-index: 1;
}

.todo__title {
  padding: 10px 50px 10px 20px;
}

.completed {
  text-decoration: line-through;
  color: black;
}

/* control */

.control_btns {
  width: 100%;
  margin-bottom: 35px;
}

.control__btn {
  border: none;
  margin: 0;
  padding: 20px 0px;
  width: 50%;
  min-width: 100px;
  text-transform: uppercase;
  color: #f7f4f1;
  background-color: black;
  cursor: pointer;
  font-size: 13px;
}

.control__btn:hover,
.control__btn:focus {
  background-color: #9acd32;
  color: #f7f4f1;
  outline: none;
}

.control__btn_ative,
.control__btn_ative:hover {
  background-color: grey;
  color: #f7f4f1;
  cursor: default;
}

/* control */

.control_btns {
  width: 100%;
  margin-bottom: 35px;
}

.btn-common,
.btn-color,
.btn-common_active,
.btn-color_active {
  border: none;
  margin: 0;
  padding: 20px 0px;
  width: 50%;
  min-width: 100px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  outline: none;
}

.btn-common {
  color: #f7f4f1;
  background-color: black;
}

.btn-common:hover,
.btn-common:focus {
  color: #f7f4f1;
  background-color: #9acd32;
}

.btn-common_active,
.btn-common_active:hover {
  color: #f7f4f1;
  background-color: grey;
  cursor: default;
}

.btn-color {
  color: #f7f4f1;
  border: 1px solid transparent;
}

.btn-color:hover,
.btn-color:focus {
  border-color: #f7f4f1;
}

.btn-color_active,
.btn-color_active:hover {
  border: 1px solid #f7f4f1;
  color: #f7f4f1;
  cursor: default;
}

.btn-common::-moz-focus-inner,
.btn-common_active::-moz-focus-inner,
.btn-color::-moz-focus-inner,
.btn-color_active::-moz-focus-inner {
  border: 0;
}

/* * user list * */

.user-list__item {
  color: #f8f5f2;
  margin-bottom: 4px;
}

/* * postcard * */

.postcard__scene {
  margin-top: 75px;
  width: 600px;
  display: flex;
}

.postcard__panel-left {
  width: 300px;
  height: 400px;
  margin-right: -43px;
  border: 1px solid white;
  transform: perspective(600px) rotateY(35deg);
}

.postcard__panel-right {
  width: 260px;
  height: 360px;
  margin-left: -43px;
  padding: 20px;
  border: 1px solid white;
  transform: perspective(600px) rotateY(-35deg);
}

.postcard__text {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}

.bg_blue {
  background-color: blue;
}

.bg_red {
  background-color: red;
}

.bg_green {
  background-color: green;
}

.bg_orange {
  background-color: orange;
}

.bg_violet {
  background-color: violet;
}

.bg_purple {
  background-color: purple;
}

.bg_brown {
  background-color: brown;
}

.bg_yellow {
  background-color: yellow;
  color: black;
}
