@import './app.config';
@import './app.base';
@import './app.layout';
@import './app.nav';
@import './app.sidebar';
@import './app.main';
@import './app.footer';
@import './app.modal';
@import './sidebar.infoblock';
@import './sidebar.techblock';
@import './sidebar.sourcesblock';
@import './sidebar.btnsblock';
@import './sidebar.btnscolorblock';
@import './sidebar.btnsinlineblock';
@import '@sections/Home/style/Home.scss';
@import '@sections/Podcasts/style/Podcasts.scss';
@import '@sections/Blog/style/Blog.scss';
@import '@sections/Postcard/style/Postcard.scss';
@import '@sections/Position/style/Position.scss';
@import '@sections/Books/style/Books.scss';
@import '@sections/Weather/style/Weather.scss';
@import '@sections/Board/style/Board.scss';
@import '@sections/Posts/style/Posts.scss';
@import '@sections/Widgets/style/Widgets.scss';
@import '@sections/NotFound/style/NotFound.scss';
