/* list */

.pst-list {
  width: 80%;
}

.pst-list__item {
  display: flex;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid $color-main;
}

.pst-list__item:last-child {
  border: none;
}

.pst-list__content {
  margin-right: 15px;
}

.pst-list__btns {
  margin-left: auto;
}

.pst-list__title {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  font-weight: normal;
}

.pst-list__title a {
  text-decoration: none;
  color: $color-common;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
    color: $color-hover-common;
  }
}

.pst-list__categories {
  margin: 0;
  padding: 0;
  font-size: 85%;
  color: $color-list;
}

.pst-list__btn-remove {
  margin: 0;
  border: none;
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 4px;
  font-size: 13px;
  color: $color-base;
  background-color: transparent;
  font-family: inherit;

  &:hover,
  &:focus {
    color: $color-common;
    background-color: black;
    outline: none;
  }
}

.pst-list__link-back {
  text-decoration: none;
  color: $color-common;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $color-hover-extra;
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}

/* list ctrl */

.list-ctrl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
}

/* search form */

.list-ctrl__search {
  box-sizing: border-box;
  margin-right: 15px;
  margin-bottom: 20px;
  padding-right: 15px;
  width: 40%;
  min-width: 250px;
  border-right: 1px solid $color-main;
}

.list-ctrl__search-input {
  margin: 0;
  padding: 9px 12px;
  background-color: $color-main;
  border-radius: 4px;
  color: $color-sidebar-bg;
  border: 1px solid transparent;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;

  &::placeholder {
    color: $color-copy;
    opacity: 1;
  }

  &:focus {
    outline: none;
    background-color: $color-extra;
  }
}

/* add new post */

.list-ctrl__add {
  display: block;
  padding: 9px 12px;
  border: 1px solid transparent;
  margin-bottom: 20px;
  border-radius: 4px;
  color: $color-extra;
  background-color: $color-base;
  text-decoration: none;
  font-size: 14px;
  font-family: inherit;

  &:hover,
  &:focus {
    background-color: $color-hover-common;
    outline: none;
  }
}

/* error */

.posts-error {
  text-align: center;
  color: $color-base;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 15%;
}

.auth-error__message {
  color: $color-common;
  text-align: center;
}

.auth-error__sign {
  border: 1px solid $color-common;
  color: $color-common;
  width: 35px;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  line-height: 35px;
}

/* spinner */

.posts-spinner {
  text-align: center;
  color: $color-util;
  text-transform: uppercase;
  font-size: 90%;
  margin-top: 15%;
}

.posts-spinner__loading-message {
  color: $color-hover-common;
}

.posts-spinner__auth-message {
  color: $color-hover-extra;
}

/* message */

.list-ctrl__message {
  margin: 0 0 20px 15px;
  border: 1px solid $color-main;
  border-radius: 4px;
  font-size: 14px;
  color: $color-util;
  display: flex;
  align-items: center;
}

.list-ctrl__message-text {
  margin: 0;
  padding: 9px 12px;
}

.list-ctrl__message-close {
  margin: 0;
  padding: 9px 12px;
  border: none;
  border-left: 1px solid $color-main;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: transparent;
  font-size: 14px;
  color: $color-list;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-list;
    color: white;
    outline: none;
  }
}

/* add form */

.add-form__field {
  margin-bottom: 20px;
}

.add-form__element {
  margin-bottom: 5px;
}

.add-form__input {
  margin: 0;
  padding: 9px 12px;
  background-color: $color-main;
  border-radius: 3px;
  color: $color-sidebar-bg;
  border: 1px solid transparent;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  font-family: inherit;

  &::placeholder {
    color: $color-extra;
    opacity: 1;
  }

  &:focus {
    outline: none;
    background-color: $color-extra;
  }
}

.add-form__textarea {
  margin: 0;
  padding: 9px 12px;
  background-color: $color-main;
  border-radius: 3px;
  color: $color-sidebar-bg;
  border: 1px solid transparent;
  font-size: 14px;
  font-family: Arial;
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  height: 140px;
  font-family: inherit;
  display: block;

  &::placeholder {
    color: $color-extra;
    opacity: 1;
  }

  &:focus {
    outline: none;
    background-color: $color-extra;
  }
}

.add-form__element-label {
  margin-right: 7px;
  display: block;
}

.add-form__counter {
  color: $color-util;
  font-size: small;
}

.add-form__error {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: $color-base;
}

.add-form__input--error {
  border-color: $color-list;
}

.add-form__textarea--error {
  border-color: $color-list;
}

.add-form__actions {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.add-form__submit,
.add-form__cancel {
  margin: 0;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 4px;
  color: $color-extra;
  background-color: $color-base;
  border: 1px solid transparent;
  font-size: 14px;
  font-family: inherit;
}

.add-form__submit {
  margin-right: 15px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-hover-common;
    outline: none;
  }

  &:disabled {
    color: $color-copy;
    border-color: $color-copy;
    background-color: $color-common-bg;
    cursor: default;
  }
}

.add-form__cancel {
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $color-hover-extra;
    outline: none;
  }
}

/* view post */

.view-post {
  color: $color-extra;
  width: 80%;
}

.view-post__title {
  margin: 0 0 30px 0;
  padding: 0;
  font-weight: normal;
  font-size: 180%;
}

.view-post__categories {
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 85%;
  color: $color-list;
}

.view-post__content {
  margin: 0 0 60px 0;
  padding: 0;
}

.view-post__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-post__link-back {
  color: $color-base;
  text-decoration: none;
  font-size: 14px;
  padding: 10px 14px;
  border-radius: 4px;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $color-hover-extra;
    color: $color-common;
    outline: none;
  }
}

.view-post__btn-remove {
  margin: 0;
  padding: 0;
  border: none;
  color: $color-base;
  font-size: 14px;
  padding: 10px 14px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;

  &:hover,
  &:focus {
    background-color: $color-base;
    color: $color-common;
    outline: none;
  }
}

/* remove post */

.remove-post {
  width: 400px;
}

.remove-post__title {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: 1px solid $color-main;
}

.remove-post__question {
  margin: 0 0 30px 0;
  padding: 0;
  color: $color-extra;
}

.remove-post__btn-remove {
  margin: 0;
  border: 0;
  padding: 10px 14px;
  background-color: $color-base;
  color: $color-common;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-detail-btn-main;
    outline: none;
  }
}

.remove-post__error {
  padding: 7px 0 4px 0;
}

.remove-post__spinner-img img {
  border-radius: 5px;
}

.remove-post__spinner-img,
.remove-post__error-img {
  margin-bottom: 10px;
  text-align: center;
}

.remove-post__error-img {
  margin-top: 20px;
}

.remove-post__spinner-text {
  text-align: center;
  margin-bottom: 20px;
  color: $color-util;
  text-transform: uppercase;
  font-size: 90%;
}

.remove-post__error-text {
  text-align: center;
  margin-bottom: 20px;
  color: $color-base;
  text-transform: none;
  font-size: 100%;
}

.remove-post__spinner-text p,
.remove-post__error-text p {
  margin: 0 0 10px 0;
  padding: 0;
}

.remove-post__success {
  margin: 0 0 20px 0;
  padding: 0;
  color: $color-common;
}
