.postcard__scene {
  display: flex;
  width: 600px;
  margin-top: 55px;
}

.postcard__panel-left {
  width: 300px;
  height: 400px;

  margin-right: -43px;
  border: 1px solid $color-common;

  transform: perspective(600px) rotateY(25deg);
}

.postcard__panel-right {
  width: 260px;
  height: 360px;

  margin-left: -12px;
  padding: 20px;

  border: 1px solid $color-common;
  background-color: $color-common;
  color: $color-base;

  transform: perspective(600px) rotateY(-25deg);

  background-image: url('@sections/Postcard/assets/postcard-right-panel-img.jpg');
}

.postcard__title {
  margin: 30px 0 60px 0;
  padding: 0;

  font-size: 50px;
  font-weight: normal;
  text-align: center;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;

  text-shadow: 20px 20px 1px $color-common;
}

@-moz-document url-prefix() {
  // firefox blur fix
  .postcard__title {
    text-shadow: 20px 20px 0 $color-common;
  }
}

.postcard__text {
  font-size: 7px;
  font-style: italic;

  background-color: $color-common;
  color: $color-base;

  opacity: 0.5;
  line-height: 16px;
  padding: 10px;
  border-radius: 3px;
}

// palette

.bg_skyblue {
  background-color: skyblue;
}

.bg_salmon {
  background-color: salmon;
}

.bg_darkgreen {
  background-color: darkgreen;
}

.bg_orange {
  background-color: orange;
}

.bg_violet {
  background-color: violet;
}

.bg_darkorchid {
  background-color: darkorchid;
}

.color--skyblue {
  color: skyblue;
}

.color--salmon {
  color: salmon;
}

.color--darkgreen {
  color: darkgreen;
}

.color--orange {
  color: orange;
}

.color--violet {
  color: violet;
}

.color--darkorchid {
  color: darkorchid;
}
