/* sidebar */

.sidebar--home {
  display: flex;
  flex-direction: column;
}

/* foreign */

.foreign {
  font-size: small;
  color: #696969;
  margin: auto 20px 20px 20px;
}

.foreign__title {
  color: $color-base;
  font-weight: normal;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid $color-base;
  margin-bottom: 25px;
}

.foreign__list li {
  margin-bottom: 3px;
}

/* information section */

.info-section {
  margin-bottom: 10%;
}

.info-section__title {
  font-size: 30px;
  font-weight: normal;
  color: $color-main;
}

.info-article {
  display: flex;
  color: $color-list;
}

.info-article__title {
  margin: 0;
  padding: 20px 14px;
  width: 15%;
  font-weight: normal;
  text-align: right;
  border-right: 1px solid $color-main;
}

.info-article__body {
  margin: 0;
  padding: 20px 14px;
  width: 85%;
}
