.details {
  padding: 10px;
  color: $color-detail;
  background-color: $color-base;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1;
}

.details__title {
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin-bottom: 25px;
  height: 70px;
}

.details__item {
  width: 100%;
  margin: 0 0 12px 0;
  padding: 0 0 3px 0;
  overflow: hidden;
  border-bottom: 1px dotted $color-minor;

  &:hover {
    border-color: $color-hover-1;
  }

  & .l::first-letter {
    text-transform: uppercase;
  }
}

.details__btns {
  margin: 25px 0 0 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.details__btn-main {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: $color-aux;
  color: $color-detail;
  float: left;

  &:hover,
  &:focus {
    background-color: $color-hover-0;
    color: $color-extra;
  }
}

.details__btn-link {
  display: block;
  text-decoration: none;
  padding: 10px 0px;
  color: $color-minor;
  cursor: pointer;
  float: right;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $color-hover-0;
  }
}
