$color-base: #000000;
$color-sidebar-bg: #292929;
$color-copy: #5f493a;
$color-common-bg: #826550;
$color-main: #967a65;
$color-minor: #808080;
$color-detail: #d3d3d3;
$color-util: #f3e7c9;
$color-extra: #f7f4f1;
$color-common: #ffffff;
$color-hover-common: #9acd32;
$color-hover-extra: #ffa500;
$color-detail-btn-main: #4169e1;
$color-list: #b89881;
$color-grey: #696969;

@import './app/App/style/App.scss';
@import './app/NavItem/style/NavItem.scss';
@import './app/SidebarInfo/style/SidebarInfo.scss';
@import './app/DetailsBlock/style/DetailsBlock.scss';
@import './app/ModalWindow/style/ModalWindow.scss';
@import './sections/Home/style/Home.scss';
@import './sections/Podcasts/style/Podcasts.scss';
@import './sections/Blog/style/Blog.scss';
@import './sections/Postcard/style/Postcard.scss';
@import './sections/Position/style/Position.scss';
@import './sections/Books/style/Books.scss';
@import './sections/Weather/style/Weather.scss';
@import './sections/Board/style/Board.scss';
