/**
 * Navigating the widgets
 */

.widgets-nav {
  padding: 0 15px;
  margin: 0 0 35px 0;
  list-style-type: none;
  border-bottom: 1px solid $color-hue-2;
  display: flex;
}

.widgets-nav__item {
  margin: 0;
  padding: 0;

  &:first-child {
    & .widgets-nav__link,
    & .widgets-nav__link--active {
      border-top-left-radius: 8px;
    }
  }

  &:last-child {
    & .widgets-nav__link,
    & .widgets-nav__link--active {
      border-top-right-radius: 8px;
    }
  }
}

.widgets-nav__link,
.widgets-nav__link--active {
  display: block;
  padding: 15px 20px;
  font-size: 14px;
  text-decoration: none;
  color: $color-common;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  background-color: transparent;
  position: relative;
  bottom: -1px;
}

.widgets-nav__link--active {
  color: $color-hue-3;
  border-color: $color-hue-2;
  background-color: $color-hue-0;
  cursor: default;
}

.widgets-nav__link {
  &:hover,
  &:focus {
    background-color: $color-hover-0;
  }
}

/**
 * Accordion
 */

.widgets-accordion {
  border: 1px solid $color-hue-2;
  border-radius: 6px;
}

.widgets-accordion__term,
.widgets-accordion__term--active {
  padding: 17px 16px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-hue-2;
    outline: none;
  }
}

.widgets-accordion__term {
  &:hover,
  &:focus {
    & .widgets-accordion__title::before {
      border-left-color: $color-hue-0;
    }
  }
}

.widgets-accordion__title {
  position: relative;
  padding-left: 20px;

  &::before {
    content: ' ';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 3px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 10px solid $color-hue-2;
    border-bottom: 6px solid transparent;
  }
}

.widgets-accordion__term--active {
  background-color: $color-hue-2;

  & .widgets-accordion__title::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid $color-hue-0;
    top: 5px;
    left: -2px;
  }
}

.widgets-accordion__definition {
  display: none;

  &--active {
    display: block;
    margin: 0;
    padding: 16px 16px 16px 37px;
    color: $color-hue-3;
  }
}
