/**
 * Navigating the widgets
 */

.widgets-nav {
  border-bottom: 1px solid $color-hue-2;
  padding: 0 15px;
  margin-bottom: 35px;
  display: flex;
}

.widgets-nav__item,
.widgets-nav__item--active {
  padding: 15px 20px;
  background-color: transparent;
  color: $color-common;
  font-size: 14px;
  text-decoration: none;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  position: relative;
  bottom: -1px;

  &:first-child {
    border-top-left-radius: 8px;
  }

  &:last-child {
    border-top-right-radius: 8px;
  }
}

.widgets-nav__item--active {
  border-top: 1px solid $color-hue-2;
  border-right: 1px solid $color-hue-2;
  border-left: 1px solid $color-hue-2;
  background-color: $color-hue-0;
  color: $color-hue-3;
  cursor: default;
}

.widgets-nav__item {
  &:hover,
  &:focus {
    background-color: $color-hover-0;
  }
}
